<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" [options]="false">
      <h5>Ordenes de Pedido</h5>
      <h6 class="text-muted d-flex align-items-center justify-content-between m-t-30">Ordenes Entregadas<span class="float-right f-18 text-c-green">400 / 500</span></h6>
      <div class="progress mt-3">
        <div class="progress-bar progress-c-theme" role="progressbar" style="width:65%;height:6px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <span class="text-muted mt-2 d-block">80% Realizado</span>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" [options]="false">
      <h5>Ordenes Pendientes</h5>
      <h6 class="text-muted d-flex align-items-center justify-content-between m-t-30">Ordenes Pendientes<span class="float-right f-18 text-c-purple">100 / 500</span></h6>
      <div class="progress mt-3">
        <div class="progress-bar progress-c-theme2" role="progressbar" style="width:50%;height:6px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <span class="text-muted mt-2 d-block">20% Pendiente</span>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" [options]="false">
      <h5>Ordenes Suspendidas</h5>
      <h6 class="text-muted d-flex align-items-center justify-content-between m-t-30">Ordenes Suspendidas<span class="float-right f-18 text-c-blue">50 / 500</span></h6>
      <div class="progress mt-3">
        <div class="progress-bar progress-c-blue" role="progressbar" style="width:40%;height:6px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <span class="text-muted mt-2 d-block">10% Suspendidas</span>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-12">
    <app-card cardTitle="Resumen Anual">
      <div class="row pb-3">
        <div class="col-md-4 col-6 text-center m-b-10">
          <h3 class="f-w-300">$23.560.000</h3>
          <span>Facturado</span>
        </div>
      </div>
      <div id="bar-chart3" class="bar-chart3" style="height:280px;"></div>
    </app-card>
  </div>

</div>
