<div class="card">
  <div class="card-body">
  <wizard #wizard  name="wizard1" class="arc-wizard" navBarLocation="left">
    <wizard-step  stepTitle="Embalaje">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-4 text-center">
            <img src="assets/images/cajas-fruta.jpg" alt="User-Profile-Image">
          </div>
          <h5 class="mt-5">CEDI: BARRANQUILLA</h5>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Destino</label>
              <div class="input-group  btn-group btn-group-toggle btn-auth-gen mb-4" ngbRadioGroup [(ngModel)]="radioButtons" name="fieldName" ngDefaultControl>
                <label class="btn btn-outline-theme2 btn-icon active" ngbButtonLabel>
                  <input type="radio" ngbButton name="options" id="option1" value="1" ><small class="d-block">Uso Propio</small>
                </label>
                <label class="btn btn-outline-theme2 btn-icon" ngbButtonLabel>
                  <input type="radio" ngbButton name="options" id="option2" value="2"><small class="d-block">Retail</small>
                </label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Producto</label>
              <select class="form-control">
                <option value="null">Seleccione</option>
                <option>Naranja</option>
                <option>Piña</option>
                <option>Mora</option>
              </select>
            </div>
          </div>
          <div class="form-row" >
            <div class="form-group col-md-6">
              <label for="input32">Cantidad</label>
              <input type="number" class="form-control" id="input32" placeholder="10">
            </div>
            <div class="form-group col-md-6">
              <label>Dias de Alquiler</label>
              <select class="form-control">
                <option value="null">Seleccione</option>
                <option>5-10 Días</option>
                <option>10-20 Días</option>
                <option>20-30 Días</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" (click)="calculate()" class="btn btn-secondary btn-sm btn-space" >Calcular</button>
            <button type="button" class="btn btn-primary btn-sm btn-space" nextStep>Continuar</button>
          </div>
        </div>
        <div class="col-sm-12" *ngIf="!!showResult">
          <h5 class="mt-5">Resultado</h5>
          <hr>
          <div class="form-row">
              <div class="column">
                <div class="form-group">
                  <label>Tipo de Canastilla: ARKA 13</label>
                </div>
                <div class="form-group">
                  <label>Cantidad de Canastillas: 100</label>
                </div>
                <div class="form-group">
                  <label>Disponible</label>
                </div>
                <div class="form-group">
                  <label>Valor: $ 1000.000 </label>
                </div>
                <div class="form-group">
                  <label>Numero de Orden: 5255525</label>
                </div>
              </div>
              <div class="column">
                <img src="assets/images/arka13.png" alt="User-Profile-Image">
              </div>

            </div>
        </div>

      </div>
    </wizard-step>
    <wizard-step stepTitle="Recogida">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-4 text-center">
            <img src="assets/images/cajas-fruta.jpg" alt="User-Profile-Image">
          </div>

          <h5 class="mt-5">Numero de Orden: 5255525</h5>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input1">Nombres Transportador</label>
              <input type="text" class="form-control" id="input1" placeholder="Pedro">
            </div>
              <div class="form-group col-md-6">
                <label for="input2">Apellidos Transportador</label>
                <input type="text" class="form-control" id="input2" placeholder="Perez">
              </div>
            </div>


          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputState">Tipo de Documento</label>
              <select id="inputState" class="form-control">
                <option selected>Seleccione</option>
                <option>NIT</option>
                <option>CÉDULA DE CIUDADANÍA</option>
                <option>CÉDULA DE EXTRANJERIA</option>
                <option>PERMISO ESPECIAL DE PERMANENCIA</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCity">Número</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputState">Tipo de Vehiculo</label>
              <select id="inputState1" class="form-control">
                <option selected>Seleccione</option>
                <option>FURGON</option>
                <option>CAMION</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="inputCity1">Número de Placa</label>
              <input type="text" class="form-control" id="inputCity1">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputState">Día de Recoger</label>
              <div class="input-group">
                <input class="form-control" autocomplete="off" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <span class="input-group-text" (click)="d.toggle()">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Regresar</button>
            <button type="button" class="btn btn-primary btn-sm" nextStep>Continuar</button>
          </div>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Finalizar">
      <div class="row">
        <div class="col-sm-12">
        </div>

        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Regresar</button>
            <button type="button" class="btn btn-success btn-sm" resetWizard>Finalizar</button>
          </div>
        </div>
      </div>
    </wizard-step>
  </wizard>
  </div>
</div>
