<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <hr>
        <section id="cd-timeline" class="cd-container">

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img src="assets/images/building.png" />
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>CEDI BOGOTÁ</h2>
              <p><span class="badge m-r-5 badge-warning">SALE</span></p>
              <p>Responsable: Colcanastas</p>
              <span class="cd-date">Mayo 3 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <img src="assets/images/building.png" />
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>CEDI PROPIO BOGOTÁ</h2>
              <p><span class="badge m-r-5 badge-success">ENTRA</span></p>
              <p>Responsable: Colcanastas</p>
              <span class="cd-date">Mayo 4 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img src="assets/images/building.png" />
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>CEDI PROPIO BOGOTÁ</h2>
              <p><span class="badge m-r-5 badge-warning">SALE</span></p>
              <p>Responsable: Productor</p>
              <p>Destino: Productor, Producto: Naranja 1200Kg</p>
              <span class="cd-date">Mayo 6 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <img src="assets/images/building.png" />
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>CEDI OLIMPICA BARRANQUILLA</h2>
              <p><span class="badge m-r-5 badge-success">ENTRA</span></p>
              <p>Responsable: Olimpica</p>
              <p>Destino: Olimpica, Producto: Naranja 1000Kg</p>
              <span class="cd-date">Mayo 8 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img src="assets/images/building.png" />
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>CEDI OLIMPICA BARRANQUILLA</h2>
              <p><span class="badge m-r-5 badge-warning">SALE</span></p>
              <p>Responsable: Olimpica</p>
              <p>Destino: Tienda Unico Olimpica, Producto: Naranja 200Kg</p>
              <span class="cd-date">Mayo 9 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->



        </section> <!-- cd-timeline -->
      </div>
    </div>
  </div>
</div>
