<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <hr>
        <ul class="timeline">
          <li>
            <div class="timeline-badge success"><i class="fa fa-building"></i></div>
            <div class="timeline-panel bg-light">
              <div class="timeline-heading">
                <h4 class="timeline-title">CEDI BOGOTÁ</h4>
                <p>COLCANASTAS</p>
                <p><small class="text-muted"><i class="fa fa-calendar"></i>03/05/2019 1:05 PM</small></p>
              </div>
              <div class="timeline-body">
                <p><span class="badge m-r-5 badge-success">SALIDA</span></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="fa fa-building"></i></div>
            <div class="timeline-panel bg-light">
              <div class="timeline-heading">
                <h4 class="timeline-title">CEDI PROPIO BOGOTÁ</h4>
                <p>COLCANASTAS</p>
                <p><small class="text-muted"><i class="fa fa-calendar"></i>04/05/2019</small></p>
              </div>
              <div class="timeline-body">
                <p><span class="badge m-r-5 badge-primary">ENTRADA</span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
