<div class="auth-wrapper">
  <div class="auth-content-jt">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="mb-4 text-center">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4 text-center">Nuevo Cliente</h3>
        <h5 class="mt-5">Datos Básicos</h5>
        <hr>
        <form action="javascript:">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input1">Nombres</label>
              <input type="email" class="form-control" id="input1" placeholder="Pedro">
            </div>
            <div class="form-group col-md-6">
              <label for="input2">Apellidos</label>
              <input type="email" class="form-control" id="input2" placeholder="Perez">
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputState">Tipo de Documento</label>
              <select id="inputState" class="form-control">
                <option selected>Seleccione</option>
                <option>NIT</option>
                <option>CÉDULA DE CIUDADANÍA</option>
                <option>CÉDULA DE EXTRANJERIA</option>
                <option>PERMISO ESPECIAL DE PERMANENCIA</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCity">Número</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
          </div>

          <div class="form-group">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="K 53F # 12 3 ">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input3">Ciudad</label>
              <input type="email" class="form-control" id="input3" placeholder="Barranquilla">
            </div>
            <div class="form-group col-md-6">
              <label for="input4">Email</label>
              <input type="email" class="form-control" id="input4" placeholder="micorreo@gmail.com">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input5">Teléfono Fijo</label>
              <input type="email" class="form-control" id="input5" placeholder="Barranquilla">
            </div>
            <div class="form-group col-md-6">
              <label for="input6">Teléfono Móvil</label>
              <input type="email" class="form-control" id="input6" placeholder="micorreo@gmail.com">
            </div>
          </div>
        </form>
        <h5 class="mt-5">Información Economica</h5>
        <hr>
        <div class="form-group text-center">
          <button class="btn btn-primary shadow-2 mb-4">Sign up</button>
          <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/auth/signin']"> Log in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
